.hero {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 40%;
  color: white;
}

.hero-content h2 {
  margin: 0;
  font-size: 32px;
}

.hero-content button {
  width: fit-content;
  padding: 10px 20px;
  border: none;
  background: ghostwhite;
  color: black;
  cursor: pointer;
  border-radius: 20px;
}
