.main {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.product-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.add-btn {
  margin-top: 10px;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
}

/* da badge može u ćošak */
.product-card {
  position: relative;
}

/* zajednički stil */
.badge {
  position: absolute;
  top: 20px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  border-radius: 6px;
}

.badge.new {
  right: 20px;
  background: green;
}

.badge.sale {
  left: 20px;
  background: red;
}
