.header {
  background-color: rgb(196, 215, 252);
  border-radius: 10px;
  margin: 10px;
}
.header ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
  padding: 10px;
  margin-right: 100px;
}
