.footer {
  margin-top: 60px;
  padding: 20px;
  background: #111;
  color: #fff;
  border-radius: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
